.header{
  height: 50px;
}

.contador{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.cientifico{
  height: 250px;
  width: 175px;
  margin-bottom: 0px;
  margin-top: -120px;
}

.comodines{
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.pregunta{
  height: 60px;
  overflow: scroll;
  font-size: 12px;
}

.respuesta{
  font-size: 14px;
  white-space: normal;
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.text-color-main{
  color: var(--main-color);
}

.bg-color-main{
  background-color: var(--main-color);
}

body {
  --main-color: #084f86;
  color: var(--main-color);
}

.button, .button-tutorial{
  background-color: var(--main-color);
}

.button{
  height: 100px;
}

.balloon{
  position: relative;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 50%;
  font-size: 120%;
  box-shadow: 1px 12px 33px rgba(67, 127, 173, 0.5);
  padding-top:10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.balloon:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -41px;
  left: 75px;
  transform: rotate(14deg);
}

.div-pregunta{
  height: 60%;
}

.div-respuestas{
  height: 40%;
}
