<div class="">
  <div class="row w-100 ml-0 bg-color-main">
    <div class="header col-9">
        <p class="ml-3 pt-3 h6 text-white">{{usuario}}</p>
    </div>
    <div class="col-3 text-right">
      <button class="contador btn bg-white text-color-main mt-1 mb-1">60</button>
    </div>
  </div>

      <div class="text-right">
        <button class="contador btn text-white bg-color-main mt-2 mr-2">14</button>
      </div>
      <div class="balloon text-color-main">
        <p class="pregunta">{{id}}. {{pregunta.pregunta}}</p>
      </div>

      <div class="text-right">
        <img src="assets/bombilla.png" class="comodines p-2">
      </div>
      <div class="text-right">
        <img src="assets/bomba.png" class="comodines">
      </div>
    <img src="assets/cientifico.png" class="cientifico">



    <div class="footer" *ngIf="!esUltimaPregunta() else elseBlock">
        <button *ngFor="let respuesta of pregunta.respuestas" class="btn bg-color-main text-white respuesta mt-1 w-100" [routerLink]="['/pregunta', idSiguiente]">{{respuesta.respuesta}}</button>
    </div>
    <ng-template #elseBlock>
      <div class="footer">
          <button *ngFor="let respuesta of pregunta.respuestas" class="btn bg-color-main text-white respuesta mt-1 w-100" (click)="mandarPuntuacion()">{{respuesta.respuesta}}</button>
      </div>
    </ng-template>
</div>
